@model JjOnlineStore.Data.Entities.Product

@{
    ViewData["Title"] = "Delete";
}

<div class="container container-fluid">
    <h3>Are you sure you want to delete this Product?</h3>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Base64Image)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Base64Image)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsAvailable)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Size)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeletedOn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        </dl>

        <form asp-controller="AdminProducts" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-lg btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>

</div>