@model IEnumerable<CategoryViewModel>

@{
    ViewBag.Title = "All Categories";
}

<script>
    var deleteCategoryUrl = "@Url.Action("Delete", "Categories", new { Area = "Admin" })";
</script>

<br />

@Html.ActionLink("Add Category", "Create", "Categories", null, new { @class = "btn btn-primary btn-lg" })

<h2>All Categories</h2>

<hr />
<br />

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(m => m.Id)</th>
        <th>@Html.DisplayNameFor(m => m.Name)</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Id)
            </td>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                <button class="btn btn-warning btn-sm">EDIT</button>
            </td>
            <td>
                <button class="btn btn-danger btn-sm" onclick="showDeleteWarning(@item.Id)">
                    DELETE
                </button>
            </td>
        </tr>
    }
</table>

@section Scripts {
    @{await this.Html.RenderPartialAsync("_DeleteWarningPartial");
      await this.Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/Business/delete.category.js" asp-append-version="true"></script>
}